html(lang="en")
    form(action="/add" method="POST" enctype="multipart/form-data")
        h1="Add books"
        label(for="title") Book title:
        input(type="text" id="title" name="title" required)
        br
        label(for="author") Author:
        input(type="text" id="author" name="author" required)
        br
        label(for="publication-date") Publication date:
        input(type="date" id="publication-date" name="publication-date" required)
        br
        label(for="synopsis") Synopsis:
        textarea(id="synopsis" name="synopsis" required)
        br
        label(for="txt-file") TXT file:
        input(type="file" id="txt-file" name="txt-file" required)
        br
        input(type="submit", value="submit")